/*overflow:scroll border-radius(px) "(element)hover{ ..."
    different cssfiles for different platforms?
    
    .container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  grid-template-areas: "head head"
                       "nav nav" 
                       "info services"
                       "footer footer";
  grid-template-rows: 300px 120px 800px 120px;
  grid-template-columns: 1fr 3fr; 
}

header {
  grid-area: head;
} 

nav {
  grid-area: nav;
} 

.info {
  grid-area: info;
} 

.services {
  grid-area: services;
}

footer {
  grid-area: footer;
} 


*/

body {
  
  font-family: 'Times New Roman', Times, serif;
  overflow: scroll;
  color: #301923;
  /*background-color: #8cbfb4;*/
  /*background-image: linear-gradient(#6e6d74, rgb(152, 129, 137));*/
  background-image: url(./bg/cross-stripes.png);
  background-repeat: repeat;
 }
main {
  /*center site*/
  max-width: 1500px;
  margin: auto;

}
header {
  
  background-size: cover;
  height: 150px;
  margin: 0;

}

header h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  
  
}

hr {
  border: 0; 
  height: 1px;
  background-image: linear-gradient(left, #f0f0f0, #a17373, #f0f0f0);
}

.menu {
  text-align: center;
  position: relative;
  top: 5px;
  width: auto;
  
   
}


.links {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.2em;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);

  color: rgb(233, 210, 233);
  padding: 5;
  text-align: center;
  text-decoration: none;
  
}

.thumb img {
  /*border-radius: 25px;
  border: 2px solid #1d7e36;*/
  width: 100%;
  height: auto; 
  object-fit: contain;
}


.logo {
  width: 300px;
  display: block;
  margin: 20px auto 0;
  top: 20px;
  
  
}
/*.thumb img {
 border-radius: 50%;

}*/
.container {
  max-width: 100%;

 
   
}

.notbr-text { font-weight: 400; 
  white-space: pre-wrap; 
  font-size: var(--fixation-size); 
  letter-spacing: var(--fixation-spacing); } 
  
  .notbr-text p { line-height: var(--fixation-height); } 
  .notbr-fixation { font-weight: 700; opacity: var(--fixation-opac); }

.works {
  display: grid;

  max-width: 100%;
  
 
  
  
}
.works img{
  max-width: 100%;
  max-height: 800px;
  margin: auto;
}

.thumbs {
    display: grid;
    max-width: 660px;
    grid-template-columns: 150px 150px 150px 150px;
    
  justify-content: space-around;
  
  grid-gap: 20px;
  margin: auto;                  
}
.thumbs img {

width: auto;
max-width: 150px;
border-radius: 75px;
border: 1px solid #6a742d;
}

.thumbs2 {
  /*display: grid;*/
  max-width: 600px;
  grid-template-columns: 200px 200px 200px 200px;
  
justify-content: space-around;
box-align: center;
grid-gap: 20px;
margin: auto;                  
}
.thumbs2 img {
width: auto;
max-width: 150px;
}

.transition_ill {
  width: 30px;
  display: block;
  margin: 20px auto 20px;
  /*top: 20px;*/
}

.imglinks {
  min-width: 100px;
  max-width: 150px;
  display: flex;
  padding: 5px;
  /*gap: 20px 20px 20px 20px;*/
  margin: 10px auto 0;
  /*top: 20px;*/
  color: #ffffff00;
}

.thumb {
    margin: 10px 0;
    width: 30%;
    height: auto;
    
    
    
    
  
}





footer {
  margin: 0;
  background-size: cover;
  
  height: 50px;
  position: relative;
}

footer p {
  
  text-align: center;
  font-size: 10px;
  font-weight: 200;
  width: auto;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(233, 210, 233);
  
}

footer a {
  text-decoration: none;
  color: rgb(233, 210, 233);
}

.copy {
  
  
  top: 20px;
  
}
.redirect {
  
  top: 20px;
  word-spacing: 1.5em;
  color: #715360;
}

/*NOT MAIN PAGE*/
.aboutsection { 
  max-width: 1500px;
  margin: auto;
  text-align: center;
  height: 800px;
  color: rgb(233, 210, 233);

}

.aboutsection img{
  height: auto; 
   
  max-width: 100%; 
  
}
.aboutsection p{
  max-width: 600px;
  margin: 0 auto;
  color: rgb(233, 210, 233);
}
.invisible {
  color: rgba(252, 239, 228, 0);
}

.description {
  max-width: 1500px;
  margin: auto;
  text-align: center;
  /*height: 800px;*/
  color: rgb(233, 210, 233);
  
}

.entry {
  max-width: 1500px;
  
  position: relative;
  margin: auto;
  text-align: center;
  height: auto;
}

.entryimages img{
  height: auto; 
  
  max-width: 100%;

}

.entryimageswide img{
  height: auto; 
  min-width: 750px;
  max-width: 100%;

}

/* SLIDE-SHOW */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
  position: relative;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 20%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 20%;
  border-radius: 3px 0 0 3px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: gray;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 95%;
  }
  header {
    width: 95%;
  }
  /*[class*="container"] {
    flex: 45%;
  flex-direction: column;
  }*/
  [class*="thumbs"] {
    max-width: 100%;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 20px;
    
  }
  [class*="aboutsection"] {
    
    
    width: 80%;
  }
  [class*="imglinks"] {
    
    
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  body {
    max-width: 95%;
  }
  header {
    width: 95%;
  }
  [class*="thumbs"] {
    grid-template-columns: 150px 150px;
    max-width: 100%;
    grid-gap: 20px;
       
  }
  [class*="aboutsection"] {
    
    width: 90%;
  
  }
  [class*="imglinks"] {
    
    width: 50%;
    
  }
}