/*overflow:scroll border-radius(px) "(element)hover{ ..."
    different cssfiles for different platforms?
    
    .container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  grid-template-areas: "head head"
                       "nav nav" 
                       "info services"
                       "footer footer";
  grid-template-rows: 300px 120px 800px 120px;
  grid-template-columns: 1fr 3fr; 
}

header {
  grid-area: head;
} 

nav {
  grid-area: nav;
} 

.info {
  grid-area: info;
} 

.services {
  grid-area: services;
}

footer {
  grid-area: footer;
} 


*/

body {
  
  font-family: 'Times New Roman', Times, serif;
  overflow: scroll;
  color: #301923;
  /*background-color: #8cbfb4;*/
  background-image: linear-gradient(#6e7191, rgb(184, 116, 140));
 }
main {
  /*center site*/
  max-width: 1500px;
  margin: auto;

}
header {
  
  background-size: cover;
  
  height: 150px;
  margin: 0;

}

header h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  
  
}
hr {
  border: 0; 
  height: 1px;
  background-image: linear-gradient(left, #f0f0f0, #a17373, #f0f0f0);
}

.menu {
  text-align: center;
  position: relative;
  top: 5px;
  width: auto;
 
   
  
}
.links {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.2em;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);

  color: #fad3b0;
  padding: 5;
  text-align: center;
  text-decoration: none;
  
}

.container img {
  width: 100%;
  height: auto; 
  object-fit: contain;
}
.logo {
  width: 300px;
  display: block;
  margin: 20px auto 0;
  top: 20px;
  
  
}
/*.thumb img {
 border-radius: 50%;

}*/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
   /* grid-template: repeat(1 auto) / repeat(3 400px);
    grid-auto-columns: 400px;
    grid-auto-rows: auto;
    position: relative;
    margin: 0 auto;
   grid-template-areas: "six five four"
                       "three two one"; */
  justify-content: space-evenly;
    
  /*align-content: space-around;*/
  
  gap: 30px 30px 30px 30px;
  margin: -10px 0;                  
}


.transition_ill {
  width: 30px;
  display: block;
  margin: 20px auto 0;
  /*top: 20px;*/
}

.imglinks {
  min-width: 100px;
  max-width: 150px;
  display: flex;
  padding: 5px;
  /*gap: 20px 20px 20px 20px;*/
  margin: 10px auto 0;
  /*top: 20px;*/
  color: #ffffff00;
}

.thumb {
    margin: 10px 0;
    width: 30%;
    height: auto;
    
    
    
    
  
}
/*.six{
  grid-area: six;
 
}
.five {
  grid-area: five;

}

.four {
  grid-area: four;

}
.three {
  grid-area: three;

}
.two {
  grid-area: two;

}
.one {
  grid-area: one;

} */

@media screen and (max-width: 800px) {
  .thumb {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .thumb {
    flex: 100%;
    max-width: 100%;
  }
}

footer {
  margin: 0;
  background-size: cover;
  
  height: 50px;
  position: relative;
}

footer p {
  
  text-align: center;
  font-size: 10px;
  font-weight: 200;
  width: auto;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(233, 210, 233);
  
}

footer a {
  text-decoration: none;
  color: rgb(245, 242, 255);
}

.copy {
  
  
  top: 20px;
  
}
.redirect {
  
  top: 20px;
  word-spacing: 1.5em;
  color: #715360;
}

/*NOT MAIN PAGE*/
.aboutsection { 
  max-width: 1500px;
  margin: auto;
  text-align: center;
  height: 800px;
  color: rgb(245, 242, 255);

}

.aboutsection img{
  height: auto; 
   
  max-width: 100%; 
  
}
.aboutsection p{
  max-width: 600px;
  margin: 0 auto;
  color: rgb(252, 239, 228);
}
.invisible {
  color: rgba(252, 239, 228, 0);
}

.entry {
  max-width: 1500px;
  
  position: relative;
  margin: auto;
  text-align: center;
  height: auto;
}

.entryimages img{
  height: auto; 
  
  max-width: 100%;

}

.entryimageswide img{
  height: auto; 
  min-width: 750px;
  max-width: 100%;

}

/* SLIDE-SHOW */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
  position: relative;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 20%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 20%;
  border-radius: 3px 0 0 3px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: gray;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}